.wrapper{

}
.wrapper .content{
    padding: 15px 0;
}
.content .all-users .main-header{
    line-height: 24px;
    margin-bottom: 15px;
}
.wrapper .all-users-inner{
    overflow: hidden;

}
.content .all-users .option{
    float: right;
    overflow: hidden;
}